<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<ul>

    {% if not object_list %}
        <h1>No Article!!</h1><br/>
    {% endif %}

    {% for article in object_list %}
        <li><a href="{% url 'blog:article_detail' pk=article.pk %}">{{ article.title }}</a></li>
        <li>{{ article.pub_date }}</li>
        <li>
            <ul>
                {% for tag in article.tag.all %}
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </li>
        <li>{{ article.summary }}</li>
    {% endfor %}
</ul>
</body>
</html>